<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="./img/young-man.jpg"
        alt="..."
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="dispaly-4">Alexander Graham Bell</h1>
      <p class="lead">Student | Developer</p>
    </div>
  </div>
</div>
