@import "tailwindcss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Menghilangkan tombol panah */
  appearance: none; /* Menghilangkan tombol panah pada browser lain */
  margin: 0; /* Menghilangkan margin default */
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

tr,
th,
td {
  padding: 10px;
}

.activeLink {
  font-weight: bold;
}
